# Tyler Grant

## Research question/interests
Can we use movements in the NASDAQ Composite Index (equity financial markets) to predict movements in Etherium cryptocurrency markets?e.

In [4]:
import numpy as np
import pandas as pd



nas = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/%5EIXIC?period1=1567296000&period2=1630454400&interval=1d&events=history&includeAdjustedClose=true")

nas.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-03,7906.439941,7940.370117,7847.319824,7874.160156,7874.160156,1936210000
1,2019-09-04,7949.810059,7981.410156,7928.939941,7976.879883,7976.879883,1891300000
2,2019-09-05,8061.290039,8134.419922,8061.290039,8116.830078,8116.830078,2096300000
3,2019-09-06,8125.580078,8134.390137,8098.520020,8103.069824,8103.069824,1876380000
4,2019-09-09,8130.910156,8131.660156,8052.339844,8087.439941,8087.439941,2172240000

In [5]:
import numpy as np
import pandas as pd

eth = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/ETH-USD?period1=1567296000&period2=1630454400&interval=1d&events=history&includeAdjustedClose=true")

eth.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-01,172.458405,173.696854,169.531281,171.629425,171.629425,5.554800e+09
1,2019-09-02,171.697601,180.145218,170.451691,178.347351,178.347351,6.503447e+09
2,2019-09-03,178.357758,182.347992,175.970169,179.499329,179.499329,6.962729e+09
3,2019-09-04,179.491989,180.136597,175.325363,175.992889,175.992889,5.938120e+09
4,2019-09-05,175.966278,176.163910,171.746826,174.217133,174.217133,5.589477e+09