# Thomas Dansereau

## Research question/interests
Briefly describe your research question or interests here..

## Our research question for this project is:
Can we use movements in the NASDAQ Composite Index (equity financial markets) to predict movements in Etherium cryptocurrency markets.

NASDAQ DATASET:

In [5]:
import numpy as np
import pandas as pd



fff = pd.read_csv("NASDAQ Data.csv")

fff.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-10-12,11732.33008,11965.54004,11704.12988,11876.25977,11876.25977,3862990000
1,2020-10-13,11901.75977,11946.98047,11821.83008,11863.90039,11863.90039,3607730000
2,2020-10-14,11889.07031,11939.91992,11714.34961,11768.73047,11768.73047,3393010000
3,2020-10-15,11559.87988,11740.67969,11559.09961,11713.87012,11713.87012,3304490000
4,2020-10-16,11761.83008,11827.41992,11648.53027,11671.55957,11671.55957,3156270000

In [6]:
import numpy as np
import pandas as pd

pd.read_csv("ETH Data.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-11,191.801071,195.318802,181.661835,182.569687,182.569687,9.128523e+09
1,2019-10-12,182.534027,186.304886,179.984833,180.826645,180.826645,7.494329e+09
2,2019-10-13,180.861313,185.075912,180.317154,182.075150,182.075150,6.733182e+09
3,2019-10-14,182.028473,187.303619,181.662277,186.960907,186.960907,7.276521e+09
4,2019-10-15,186.977051,187.759872,179.462784,181.406067,181.406067,7.731457e+09
...,...,...,...,...,...,...,...
727,2021-10-07,3576.814453,3650.013184,3479.909180,3587.974854,3587.974854,1.909032e+10
728,2021-10-08,3587.832764,3667.957520,3547.828125,3563.759277,3563.759277,1.622203e+10
729,2021-10-09,3559.997803,3628.237305,3544.640381,3575.716797,3575.716797,1.270704e+10
730,2021-10-10,3575.020508,3603.244873,3414.970947,3425.852783,3425.852783,1.617175e+10
731,2021-10-11,3385.761719,3619.504150,3385.761719,3551.045410,3551.045410,1.893414e+10